*,
*::after,
*::before {
  box-sizing: border-box;
}
body {
  background-color: #f0eef0;
  font-family: "Noto Sans", sans-serif;
}
@font-face {
  font-family: 'PlayfairDisplay-Bold';
  src: url("../fonts/PlayfairDisplay-Bold.woff") format("woff");
  src: url("../fonts/PlayfairDisplay-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'PlayfairDisplay-Regular';
  src: url("../fonts/PlayfairDisplay-Regular.woff") format("woff");
  src: url("../fonts/PlayfairDisplay-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
/* Header */

.header {
  background-color: #fff;
  padding: 30px 0 25px 0;
}
.container {
  max-width: 1170px;
  margin: 0 auto;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-left {
  display: flex;
  align-items: center;
}
.logo {
  margin-right: 81px;
  width: 119px;
  height: 48px;
}
.logo-image {
  width: 119px;
  height: 48px;
}
.navbar-menu {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}
.navbar-item {
  margin-right: 32px;
}
.navbar-item:last-child {
  margin-right: 0;
}
.navbar-link {
  text-decoration: none;
  color: #715e55;
  font-size: 18px;
}
.icon-link {
  margin-right: 20px;
}
.icon-link:last-child {
  margin-right: 0;
}
.icon-image {
  width: 32px;
  height: 30px;
}

/* section hero */
.hero {
  padding: 49px 0 48px;
}
.hero-info {
  display: flex;
  align-items: center;
  max-width: 1240px;
  margin: 0 auto;
}
.hero-text {
  max-width: 565px;
  background-color: #fff;
  padding: 46px 10px 46px 18px;
}
.hero-title {
  font-family: 'PlayfairDisplay-Regular';
  font-weight: 400;
  font-size: 72px;
  line-height: 96px;
  margin: 0;
  margin-bottom: 30px;
}
.hero-description{
  max-width: 528px;
  font-size: 22px;
  line-height: 150%;
  margin: 0;
  margin-bottom: 30px;
}
.hero-link {
  font-family: 'PlayfairDisplay-Bold';
  font-size: 26px;
  line-height: 35px;
  text-decoration: none;
  padding: 20px 64px;
  background-color: #977464;
  color: #fff;
  box-shadow: 0px 4px 15px rgba(113, 94, 85, 0.35);
  border-radius: 4px;
  display: block;
  max-width: 373px;
;
}
.hero-item {
  width: 675px;
  height: 737px;
}

/* section soap */
.swiper {
  width: 100%;
  height: 100%;
}
.slider {
  margin-bottom: 70px;
}
.card {
  max-width: 270px;
  text-align: center;
  background-color:#fff;
  border: 1px solid #CBB1A5;
  border-radius: 10px;
  overflow: hidden;
}
.card-image {
  max-width: 270px;
  height: 310px;
}
.card-image-1 {
  /* max-width: 270px;
  max-height: 310px; */
  background: url(../img/cards/card-1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.card-image-2 {
  background: url(../img/cards/card-2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.card-image-3 {
  background: url(../img/cards/card-3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.card-image-4 {
  background: url(../img/cards/card-4.jpg); 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* .card-picture {
  width: 100%;
  height: 100%;
} */
.card-title {
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 8px;
  margin-top: 10px;
}
.card-price {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
}
.button-card {
  display: block;
  margin: 0 auto;
  margin-top: 8px;
  margin-bottom: 9px;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  color: #fff;
  padding: 10px 19px;
  background-color: #977464;
  border-radius: 4px;
  border: transparent;
  cursor: pointer;
}
.soap-top, .bouquet-top {
  position: relative;
  padding-bottom: 23px;
  border-bottom: 1px solid rgba(100, 67, 52, 0.3);
  margin-bottom: 46px;
}
.soap-title, .bouquet-title {
  font-family: 'PlayfairDisplay-Regular';
  font-weight: normal;
  font-size: 42px;
  line-height: 56px;
  color: #715E55;
  margin: 0;
}
.swiper-button-prev {
  left: 1070px;
}
.swiper-button-prev::after,
.swiper-button-next::after {
  color: #715E55;
}
.soap-button, .bouquet-button {
  font-family: 'PlayfairDisplay-Bold';
  font-size: 16px;
  line-height: 21px;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  padding: 10px;
  background-color: #FFFFFF;
  border: 1px solid #715E55;
  border-radius: 4px;
  display: block;
  margin: 0 auto;
  max-width: 229px;
}